@import 'tailwindcss/components';

@layer components {
    .monogram {
        fill: var(--textTitle);
        transition: fill var(--durationL) ease;
    }

    .highlight {
        fill: var(--accent);
        transform-box: fill-box;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform var(--durationL) var(--bezierFastoutSlowin),
        opacity 0.1s ease var(--durationM);

        @media (--mediaReduceMotion) {
            transition: transform var(--durationM) var(--bezierFastoutSlowin),
            opacity 0.1s ease var(--durationM);
        }

        :is(a:hover, .monogram:hover) & {
            transform-origin: bottom;
            transform: scaleY(1);
            opacity: 1;
            transition: transform var(--durationM) var(--bezierFastoutSlowin),
            opacity 0.1s ease;
        }
    }
}